/* Footer styles */
footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    text-align: center;
  }
  
  footer a {
    color: #fff;
  }
  
  footer a:hover {
    color: #ccc;
  }
  