/* Footer styles */
footer {
  background-color: var(--background-footer-color);
  transition: background-color 1s ease, color 1s ease;
  color: var(--footer-color);
  font-size: 12px;
  padding: 10px;
  text-align: center;
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

footer a {
  color: var(--footer-color);
}

footer a:hover {
  color: var(--footer-color-hover);
}